@import url(./styles/basket.css);
@import url(./styles/dishes.css);
@import url(./styles/footer.css);
@import url(./styles/hamburger-menu.css);
@import url(./styles/header.css);
@import url(./styles/main.css);
@import url(./styles/imprint.css);
@import url(./styles/dish-breaks.css);
@import url(./styles/dish-categorie.css);
@import url(./styles/dish-basket.css);
@import url(./styles/order.css);
@import url(./styles/dish-picture.css);
@import url(./styles/dish-mobile.css);
@import url(./styles/dish-picture-header.css);
@import url(./styles/website-title.css);
@import url(./styles/mobile.css);
@import url(./styles/basket-information.css);

:root {
  --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
html{
    scroll-behavior: smooth;
}

html, body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
    background-color: rgb(254, 247, 231);
}

  .footer a{
    color: white;
    text-decoration: none;
  }