.basket-title{
    display: flex;
    justify-content: center;
}
.basket-info{
    display: flex;
    width: 40px;
    justify-content: right;
}

.basket-info {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.basket-info .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-80%);
  opacity: 0;
  transition: opacity 0.3s;
}

.basket-info:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}