.dish-total{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(122, 122, 122);
}
.dish-subtotal{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.dish-deliverycosts{
  margin-bottom: 10px;
    display: flex;
  justify-content: space-between;
}
.dish-totalprice{
  margin-bottom: 10px;
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}