/*Dish Content*/
.dish-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: visible;
  max-height: none !important;
}

.dish-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: visible;
  max-height: none !important;
}

.dish-card {
  background-color: #fff;
  width: 100%;
  margin: 5px 0;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e2e2e2;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
  cursor: pointer;
  height: auto;
}

.dish-title {
  width: 99%;
  padding-left: 15px;
  padding-top: 15px;
  font-weight: bold;
}

.dish-description{
  padding-left: 15px;
  padding-top: 50px;
}
.dish-price {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: bold;
  color: rgb(240, 136, 50);
}

.dish-adding{
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bolder;
  color: rgb(240, 136, 50);
  border: 1px solid rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.dish-header{
  display: flex;
}

.dish-card:hover{
  background-color: rgb(240, 136, 50, 0.1);
}
.dish-adding:hover{
  background-color: rgba(209, 99, 8, 0.1);
}

.basket-trash{
  cursor: pointer;
}
.basket-trash:hover{
  background-color: rgba(209, 99, 8, 0.1);
}
