.dish-picture-header {
  position: relative;
  width: 100%;
  height: 200px;
  /* overflow: hidden; */
  margin-bottom: 120px;
}

.dish-picture-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.dish-picture-header .logo-overlay {
  position: absolute;
  top: 100%;                    /* vertikal zentriert */
  left: 50%;                   /* horizontal zentriert */
  transform: translate(-50%, -50%);
  width: 200px;                /* responsiv skalierbar */
  max-width: 40%;              /* nie breiter als 25% des Containers */
  height: auto;
  z-index: 1000;                 /* liegt über dem Headerbild */
  pointer-events: none;       /* optional, falls Logo nicht klickbar sein soll */
}

