.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger span {
  height: 4px;
  background: white;
  border-radius: 2px;
}

.menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: rgb(240, 136, 50);
  padding: 1rem;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 0px 10px 0 rgb(0, 0, 0, 15%);
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
}

.menu.show {
  display: flex;
}