.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: rgb(240, 136, 50);
    height: var(--header-height);
}

.logo{
    width: 100px;
}