.impressum {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    margin-top: 32px;
}

#generator_results {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 32px 0px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}

@media(max-width: 1500px) {
    .body-styleContainer {
        padding: 0 30px;
    }
}

@media (max-width:768px) {

    .impressum-styleContainer1,
    .impressum-styleContainer2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:450px) {

    .impressum {
    padding-left: 30px;
    padding-right: 30px;
    }

    #generator_results {
    padding-left: 30px;
    padding-right: 30px;
    }
}