  .ordering {
    text-align: center;
    padding: 15px;
    background-color: rgb(240, 136, 50);
    color: white;
    cursor: pointer;
  }

  p{
    padding: 15px;
    background-color: rgba(240, 136, 50, 0.2);
    color: rgb(240, 136, 50);
    text-align: center;
  }