.website-title {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.website-title-text {
  font-size: larger;
  font-weight: bolder;
  margin-top: 28px;
}

.website-rating {
  font-size: smaller;
  margin-top: 25px;
  color: rgb(240, 136, 50);
}

@media (max-width: 1040px) {
  .website-title {
    margin-top: 50px;
  }
  .dish-picture-header {
    margin-bottom: 170px;
  }
}

@media (max-width: 400px) {
  .website-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}

@media (max-width: 380px) {
  .website-rating {
    width: 250px;
    height: 50px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }
  .dish-picture-header {
    margin-bottom: 170px;
  }
}
